h1.business-name {
  font-family: "Sacramento", cursive;
  font-size: 150px;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
}

.quote-p-wrapper {
  margin: 4rem 0;
}

.quote-p-wrapper .quote {
  width: fit-content;
  white-space: nowrap;
  text-align: center;
  font-size: 38px;
  margin: 0 auto 0.5rem auto;
  font-family: 'Caveat', cursive;
}

.cake-pop {
  width: 130px;
  height: auto;
  object-fit: cover;
}

@media (min-width: 2220px) {
  h1.business-name {
    font-size: 180px;
  }

  .quote-p-wrapper .quote {
    font-size: 42px;
    margin: 1rem auto;
  }
}

@media (max-width: 1930px) {
  h1.business-name {
    font-size: 130px;
  }

  .quote-p-wrapper .quote {
    font-size: 34px;
  }

  .cake-pop {
    width: 110px;
  }
}

@media (max-width: 1795px) {
  h1.business-name {
    font-size: 110px;
  }

  .quote-p-wrapper .quote {
    font-size: 28px;
  }
}

@media (max-width: 1565px) {
  h1.business-name {
    font-size: 96px;
  }

  .quote-p-wrapper {
    margin: 2rem 0 1.5rem;
  }

  .quote-p-wrapper .quote {
    font-size: 26px;
  }

  .cake-pop {
    width: 90px;
  }
}

@media (max-width: 1400px) {
  h1.business-name {
    font-size: 90px;
  }

  .quote-p-wrapper {
    margin: 2rem 0 2rem;
  }

  .quote-p-wrapper .quote {
    font-size: 24px;
  }

  .cake-pop {
    width: 70px;
  }
}

@media (max-width: 1240px) {
  .quote-p-wrapper .quote {
    font-size: 21px;
    white-space: unset;
  }
}

@media (max-width: 1134px) {
  h1.business-name {
    font-size: 75px;
  }

  .quote-p-wrapper .quote {
    font-size: 18px;
    white-space: unset;
  }

  .quote-p-wrapper {
    margin: 1.5rem 0 1.5rem;
  }
}

@media (max-width: 1024px) {
  h1.business-name {
    font-size: 64px;
  }

  .quote-p-wrapper .quote {
    font-size: 18px;
  }
}

@media (max-width: 975px) {
  h1.business-name {
    font-size: 59px;
  }

  .quote-p-wrapper {
    margin: 1rem 0 1rem;
  }

  .quote-p-wrapper .quote {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  h1.business-name {
    font-size: 96px;
  }

  .quote-p-wrapper {
    margin: 2.5rem 0;
  }

  .quote-p-wrapper .quote {
    font-size: 21px;
    margin: 0.5rem auto 0.5rem auto;
  }
}

@media (max-width: 630px) {
  h1.business-name {
    font-size: 80px;
  }
}

@media (max-width: 505px) {
  h1.business-name {
    font-size: 64px;
  }
}

@media (max-width: 480px) {
  .cake-pop {
    width: 70px;
  }

  h1.business-name {
    font-size: 55px;
  }

  .quote-p-wrapper {
    margin: 1.5rem 0;
  }

  .quote-p-wrapper .quote {
    font-size: 18px;
  }
}

@media (max-width: 355px) {
  h1.business-name {
    font-size: 48px;
  }
}