.servings-table {
  border: 2px solid transparent;
  width: 800px;
  height: 200px;
}

.servings-table tr th {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #daa41a;
  padding: 0 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.servings-table tr td {
  padding: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.servings-table-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 2rem;
  font-family: "Fredoka", sans-serif;
  text-align: center;
}

@media (max-width: 1440px) {
  .servings-table {
    width: 700px;
  }

  .servings-table tr th,
  .servings-table tr td {
    font-size: 21px;
  }
}

@media (max-width: 1024px) {
  .servings-table {
    width: 500px;
  }
}

@media (max-width: 820px) {
  .servings-table {
    width: 400px;
  }

  .servings-table tr th,
  .servings-table tr td {
    font-size: 18px;
  }

  .servings-table-heading {
    font-size: 28px;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 625px) {
  .servings-table {
    width: 300px;
  }

  .servings-table tr th,
  .servings-table tr td {
    font-size: 16px;
  }
}

@media (max-width: 525px) {
  .servings-table {
    width: 230px;
  }

  .servings-table tr th,
  .servings-table tr td {
    font-size: 14px;
  }

  .servings-table-heading {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
}
