.footer {
  background-color: #ede5e3;
  width: 100%;
  display: flex;
  padding: 1rem 0 1rem 10rem;
}

.footer-sections-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
}

p {
  text-align: center;
}

.logo {
  display: block;
  width: 10%;
  height: auto;
  min-width: 200px;
  object-fit: cover;
}

.social-media-links-mobile {
  display: none;
}

@media (max-width: 480px) {
  .footer {
    width: 100%;
    flex-direction: column;
    padding: 2rem 0 0 0;
  }

  .footer-sections-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .footer-sections-wrapper > *:not(:last-child) {
    margin: 0 1rem;
  }

  .logo {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .social-media-links {
    display: none;
  }

  .social-media-links-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .social-media-links-mobile > * {
    margin: 1rem 1rem 0 1rem;
  }
}
