.footer {
  background-color: transparent;
  width: 100%;
  padding: 1rem 10rem 1rem 10rem;
  z-index: 0;
  margin-top: auto;
}

.footer .footer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.footer hr {
  border-top: 2px solid white;
  opacity: 100%;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .footer {
    padding: 1rem 3rem 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 3rem 1rem 3rem 1rem;
  }

  .footer .footer-row {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}