.signup {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  padding: 7px 10px;
  font-family: "Fredoka", sans-serif;
}

.signup:not(.active):hover {
  color: #b76e79;
}

@media (max-width: 1440px) and (min-width: 480px) {
  .signup {
    font-size: 14px;
    padding: 7px 10px;
  }
}
