.cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
    .cart-table td {
    text-align: right;
  }
  .cart-table th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
  }
  
  
  .cart-table td.total-price {

    color: blue;
  }

  .total-price-cell {
    color: red;
  }

  .cart-table tfoot tr {
    border: none; /* Remove border for tfoot */
  }
  
  .cart-table tfoot td {
    border: none; /* Remove border for tfoot cells */
  }
  
  /* Style for the quantity input */
  .quantity-input {
    width: 50px; /* Adjust the width as needed */
    -webkit-appearance: textfield; /* Safari and Chrome */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other browsers */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
  }
  .small-button {
    padding: 0.3rem; /* Adjust the padding to control the button size */
    font-size: 0.8rem; /* Adjust the font size to control the button text size */
  }
  
/* Styles for mobile devices */
@media (max-width: 767px) {
  .cart-table th, .cart-table td {
    text-align: left; /* Align text to left on small screens */
    padding: 2px; /* Adjust padding for spacing */
  }

  .cart-table th {
    background-color: transparent; /* Remove background color for th */
    border: none; /* Remove border for th */
  }

  .cart-table td.total-price, .total-price-cell {
    color: blue; /* Adjust colors as needed */
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically for mobile */
    margin-top: 10px; /* Adjust margin for spacing */
  }

  .button-container button {
    width: 100%; /* Make buttons full width */
    margin-bottom: 10px; /* Adjust margin for spacing */
  }

  .quantity-input {
    width: 80%; /* Make quantity input full width */
    margin: 10px; /* Adjust margin for spacing */

  }
}
