
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .SignupPage {
        text-align: center;
        background-color: rgb(211, 181, 191);
        height: 1000px;
    }

    .signup-header {
        color: #daa41a;
        text-align: center;
        justify-content: center;
        font-family: pacifico;
        font-weight: bold;
    }
    
    .white-box {
        background-color: white;
        border-radius: 25px;
        margin: auto;
        width: 300px;
        padding: 15px;
        padding-top: 25px;
        margin-top: 40px;
    }
    
    .label {
        display: block;
        font-size: larger;
        color: black;
        padding: 5px;
        text-indent: -15px;
        font-size: 17px;
    }
    
    .input {
        font-size: larger;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        background-color: #E9E7E7;
        width: 90%;
        border: 0px solid;
    
    }
    
    .input::placeholder {
        color: #908D8D;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .checkbox {
        cursor: pointer;
        font-size: 22px;
        width: 20px;
        height: 20px;
        margin: 20px;
        accent-color: #E75480;
        border-color: #E75480;
    
        padding: 0;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    
    .pad {
        padding-left: 10px;
    }
    
    .submit-btn {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        border-radius: 5px;
        font-size: larger;
        display: block;
        padding: 5px;
        margin: 10px auto;
        background: radial-gradient(circle, rgba(179, 67, 142, 1) 20%, rgba(194, 144, 154, 1) 100%);
        width: 50%;
        border: 1px solid #0099cc;
        transition: 1s ease;
    }
    
    
    .submit-btn:hover {
        background: radial-gradient(circle, rgba(194, 144, 154, 1) 20%, rgba(179, 67, 142, 1) 100%);
    }
    
    .submit-btn:disabled,
    button[disabled] {
        background: pink;
        color: grey;
    }
    
    .messages {
        display: flex;
        justify-content: center;
        font-size: small;
        width: 90%;
    }
    
    .error {
        display: block;
        background-color: red;
        color: white;
        /* width: fit-content; */
        height: 50px;
        padding: 5px;
    }
    
    .success {
        display: block;
        background-color: lightblue;
        color: black;
        /* width: fit-content; */
        height: 50px;
        padding: 5px;
    }
    
    .terms-and-conditions {
        background-color: white;
        border: none;
        text-decoration: underline;
    }
    
    .popup-content {
        margin: auto;
        background: pink;
        width: 50%;
        padding: 5px;
    }
    
    .popup-arrow {
        color: pink;
    }
    
    [role='tooltip'].popup-content {
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    }
    
    .popup-overlay {
        background: rgba(0, 0, 0, 0.5);
    }
    
    [data-popup='tooltip'].popup-overlay {
        background: transparent;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .SignupPage {
        text-align: center;
        background-color: rgb(211, 181, 191);
        height: 1000px;
    }

    .signup-header {
        color: #daa41a;
        text-align: center;
        justify-content: center;
        font-family: pacifico;
        font-weight: bold;
    }
    
    .white-box {
        background-color: white;
        border-radius: 25px;
        margin: auto;
        width: 300px;
        padding: 15px;
        padding-top: 25px;
        margin-top: 40px;
    }
    
    .label {
        display: block;
        font-size: larger;
        color: black;
        padding: 5px;
        text-indent: -15px;
        font-size: 17px;
    }
    
    .input {
        font-size: larger;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        background-color: #E9E7E7;
        width: 90%;
        border: 0px solid;
    
    }
    
    .input::placeholder {
        color: #908D8D;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .checkbox {
        cursor: pointer;
        font-size: 22px;
        width: 20px;
        height: 20px;
        margin: 20px;
        accent-color: #E75480;
        border-color: #E75480;
    
        padding: 0;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    
    .pad {
        padding-left: 10px;
    }
    
    .submit-btn {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        border-radius: 5px;
        font-size: larger;
        display: block;
        padding: 5px;
        margin: 10px auto;
        background: radial-gradient(circle, rgba(179, 67, 142, 1) 20%, rgba(194, 144, 154, 1) 100%);
        width: 50%;
        border: 1px solid #0099cc;
        transition: 1s ease;
    }
    
    
    .submit-btn:hover {
        background: radial-gradient(circle, rgba(194, 144, 154, 1) 20%, rgba(179, 67, 142, 1) 100%);
    }
    
    .submit-btn:disabled,
    button[disabled] {
        background: pink;
        color: grey;
    }
    
    .messages {
        display: flex;
        justify-content: center;
    }
    
    .error {
        display: block;
        background-color: red;
        color: white;
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    .success {
        display: block;
        background-color: lightblue;
        color: black;
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    .terms-and-conditions {
        background-color: white;
        border: none;
        text-decoration: underline;
    }
    
    .popup-content {
        margin: auto;
        background: pink;
        width: 50%;
        padding: 5px;
    }
    
    .popup-arrow {
        color: pink;
    }
    
    [role='tooltip'].popup-content {
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    }
    
    .popup-overlay {
        background: rgba(0, 0, 0, 0.5);
    }
    
    [data-popup='tooltip'].popup-overlay {
        background: transparent;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* .SignupPage {
        text-align: center;
        background-color: rgb(211, 181, 191);
        height: 1000px;
    }

    .signup-header {
        color: #daa41a;
        text-align: center;
        justify-content: center;
        font-family: pacifico;
        font-weight: bold;
    }
    
    .white-box {
        background-color: white;
        border-radius: 25px;
        margin: auto;
        width: 600px;
        padding: 15px;
        padding-top: 25px;
        margin-top: 40px;
    }
    
    .label {
        display: block;
        font-size: larger;
        color: black;
        padding: 5px;
        text-indent: -15px;
        font-size: 17px;
    }
    
    .input {
        font-size: larger;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        background-color: #E9E7E7;
        width: 90%;
        border: 0px solid;
    
    }
    
    .input::placeholder {
        color: #908D8D;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .checkbox {
        cursor: pointer;
        font-size: 22px;
        width: 20px;
        height: 20px;
        margin: 20px;
        accent-color: #E75480;
        border-color: #E75480;
    
        padding: 0;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    
    .pad {
        padding-left: 10px;
    }
    
    .submit-btn {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        border-radius: 5px;
        font-size: larger;
        display: block;
        padding: 5px;
        margin: 10px auto;
        background: radial-gradient(circle, rgba(179, 67, 142, 1) 20%, rgba(194, 144, 154, 1) 100%);
        width: 50%;
        border: 1px solid #0099cc;
        transition: 1s ease;
    }
    
    
    .submit-btn:hover {
        background: radial-gradient(circle, rgba(194, 144, 154, 1) 20%, rgba(179, 67, 142, 1) 100%);
    }
    
    .submit-btn:disabled,
    button[disabled] {
        background: pink;
        color: grey;
    }
    
    .messages {
        display: flex;
        justify-content: center;
    }
    
    .error {
        display: block;
        background-color: red;
        color: white;
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    .success {
        display: block;
        background-color: lightblue;
        color: black;
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    .terms-and-conditions {
        background-color: white;
        border: none;
        text-decoration: underline;
    }
    
    .popup-content {
        margin: auto;
        background: pink;
        width: 50%;
        padding: 5px;
    }
    
    .popup-arrow {
        color: pink;
    }
    
    [role='tooltip'].popup-content {
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    }
    
    .popup-overlay {
        background: rgba(0, 0, 0, 0.5);
    }
    
    [data-popup='tooltip'].popup-overlay {
        background: transparent;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .SignupPage {
        text-align: center;
        background-color: rgb(211, 181, 191);
        height: 1000px;
    }

    .signup-header {
        color: #daa41a;
        text-align: center;
        justify-content: center;
        font-family: pacifico;
        font-weight: bold;
    }
    
    .white-box {
        background-color: white;
        border-radius: 25px;
        margin: auto;
        width: 600px;
        padding: 15px;
        padding-top: 25px;
        margin-top: 40px;
    }
    
    .label {
        display: block;
        font-size: larger;
        color: black;
        padding: 5px;
        text-indent: -15px;
        font-size: 17px;
    }
    
    .input {
        font-size: larger;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        background-color: #E9E7E7;
        width: 90%;
        border: 0px solid;
    
    }
    
    .input::placeholder {
        color: #908D8D;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .checkbox {
        cursor: pointer;
        font-size: 22px;
        width: 20px;
        height: 20px;
        margin: 20px;
        accent-color: #E75480;
        border-color: #E75480;
    
        padding: 0;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    
    .pad {
        padding-left: 10px;
    }
    
    .submit-btn {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        border-radius: 5px;
        font-size: larger;
        display: block;
        padding: 5px;
        margin: 10px auto;
        background: radial-gradient(circle, rgba(179, 67, 142, 1) 20%, rgba(194, 144, 154, 1) 100%);
        width: 50%;
        border: 1px solid #0099cc;
        transition: 1s ease;
    }
    
    
    .submit-btn:hover {
        background: radial-gradient(circle, rgba(194, 144, 154, 1) 20%, rgba(179, 67, 142, 1) 100%);
    }
    
    .submit-btn:disabled,
    button[disabled] {
        background: pink;
        color: grey;
    }
    
    .messages {
        display: flex;
        justify-content: center;
    }
    
    .error {
        display: block;
        background-color: red;
        color: white;
        /* width: fit-content; */
        width: 90%;
        height: 50px;
        padding: 5px;
    }
    
    .success {
        display: block;
        background-color: lightblue;
        color: black;
        /* width: fit-content; */
        width: 90%;
        height: 50px;
        padding: 5px;
    }

    .msgs {
        font-size: medium;
    }
    
    .terms-and-conditions {
        background-color: white;
        border: none;
        text-decoration: underline;
    }
    
    .popup-content {
        margin: auto;
        background: pink;
        width: 50%;
        padding: 5px;
    }
    
    .popup-arrow {
        color: pink;
    }
    
    [role='tooltip'].popup-content {
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    }
    
    .popup-overlay {
        background: rgba(0, 0, 0, 0.5);
    }
    
    [data-popup='tooltip'].popup-overlay {
        background: transparent;
    }
}

