.cupcakes-banner {
  /* background-image: url("utils/rainbow_cupcakes.jpg"); */
  background-size: 35%;
  width: auto;
  height: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding-top: 16%;
}
