.slide-wrapper {
  /* aspect-ratio: 1280/496;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; */


}

/* @media (max-width: 480px) {
  .slide-wrapper {
    height: 496px;
  }
} */
