.carousel-wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 4rem 3rem 5rem;
}

.intro-quote {
  padding: 4rem 0;
  margin: auto 3rem;
  width: 40%;
}

.intro-quote.mobile {
  display: none;
}

.quote-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-wrapper2 .quote {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.cake-pop {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.swiper {
  /* aspect-ratio: 400/500; */
  height: auto;
  min-height: 500px;
  width: 500px;
  margin: 0;
  display: inline-block;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: #daa41a;
}

.swiper-slide {
  /* text-align: center;
  font-size: 18px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  opacity: 0.55; */
}

.swiper-button-next {
  color: #efc7c7;
  font-size: 25px;
}

.swiper-button-prev {
  color: #efc7c7;
  /* font-size: 30px; */
}

.swiper-slide img {
  max-width: 100%;
  /* max-height: 100%; */
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  /* min-height: 460px; */
  z-index: -6;
  margin: 0;
  border-radius: 900px 900px 0 0;
  box-shadow: 0px -1px 2px #efc7c7;
}

@media (max-width: 1440px) {
  .carousel-wrapper {
    gap: 3rem;
  }

  .intro-quote {
    margin: 3rem 2rem;
    padding: 0;
  }

  .quote-wrapper2 .quote {
    font-size: 21px;
  }

  .swiper {
    min-height: 400px;
    width: 420px;
  }

  .intro-quote {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .carousel-wrapper {
    gap: 1.5rem;
  }

  .quote-wrapper2 .quote {
    font-size: 16px;
  }

  .swiper {
    min-height: 300px;
    width: 336px;
  }

  .cake-pop {
    width: 80px;
  }
}

@media (max-width: 875px) {
  .intro-quote {
    padding: auto 0;
    margin: auto 1rem;
  }
}

@media (max-width: 701px) {
  .carousel-wrapper {
    padding: 1.5rem;
  }

  .intro-quote {
    display: none;
  }

  .intro-quote.mobile {
    display: block;
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .quote-wrapper2 {
    margin: 0;
  }

  .quote-wrapper2 .quote {
    font-size: 21px;
  }

  .swiper {
    aspect-ratio: 400/500;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .swiper-button-next::after {
    font-size: 25px;
  }

  .swiper-button-prev::after {
    font-size: 25px;
  }

  .swiper {
    width: 250px;
    min-height: 250px;
  }

  .quote-wrapper2 {
    margin: 0 1.5rem 0 1.5rem;
  }

  .quote-wrapper2 .quote {
    font-size: 16px;
  }

  .cake-pop {
    width: 70px;
  }
}
