.active {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #ffffff;
  color: white;
  border-top: 2px solid #efc7c7;
  border-bottom: 2px solid #efc7c7;

  /* keeps navbar at the top */
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  list-style: none;
  font-size: 20px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.3rem;
}

nav ul li a:not(.active):hover {
  color: #efc7c7;
  text-decoration: underline;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
    margin-right: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    background-color: #efc7c7;
    display: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  nav ul li a {
    margin: 0.5rem;
  }
}
