.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.video-title {
  font-size: x-large;
  text-align: center;
  margin-bottom: 10px;
}

.video-or-button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 400px; /* Adjust the height as desired */
}

.video-or-button video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.video-description {
  width: 100%; /* Set the width to 100% */
  margin-bottom: 10px;
  overflow: auto; /* Add scrollbars if the description exceeds the height */
}

.video-description p {
  text-align: left; /* Align the description text to the left */
}

.video-item form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item button {
  min-width: 200px;
}

.video-description-label {
  width: 100%;
  font-size: larger;
  font-weight: bold;
}

/* Media Query for smaller screen sizes */
@media screen and (max-width: 600px) {
  .video-item {
    width: 100%; /* Adjust the width for smaller screens */
    padding: 10px; /* Adjust the padding for smaller screens */
  }
  
  .video-or-button {
    height: auto; /* Adjust the height for smaller screens */
  }
  
  .video-description {
    height: auto; /* Adjust the height for smaller screens */
  }
}