.login {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 3px 10px;
  margin: 1rem 0;
  font-size: 20px;
  background-color: #efc7c7;
  border: 2px solid #efc7c7;
  border-radius: 3px;
  text-align: center;
  transition: 0.5s;
}

/* Use media query to avoid hover styling when clicked on mobile devices */
@media (hover: hover) {
  .login:hover {
    background-color: #c09999;
    border-color: #c09999;
  }
}

@media (max-width: 1440px) and (min-width: 480px) {
  .login {
    font-size: 14px;
    padding: 7px 10px;
  }
}

