.subheading-div {
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.subheading-text {
  text-align: center;
  font-size: 80px;

  /* Font from Google Fonts https://fonts.google.com/specimen/Dancing+Script?preview.text=Cakes%20Collection&preview.text_type=custom&category=Handwriting,Monospace */
  font-family: "Sacramento", cursive;
  /* color: #daa41a; */
  color: white;

  text-shadow: 3px 3px 0px #ffbc5e, 6px 6px 0px #ffd662, 9px 9px 0px #ff97cb;
  /* ,
    12px 12px 0px #ef5097; */
  /* 25px 25px 0px #6868ac, 30px 30px 0px #90b1e0; */
}
