.online-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* Set the background color to white */
  padding: 20px;
  /* Add padding for spacing */
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Add some gap between buttons */
}


.cakes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cake-item {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.image {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

/* Style for the quantity section */
.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Adjust as needed */
}

.quantity-section label {
  margin-right: 10px;
  /* Adjust as needed */
}

.quantity-section input {
  width: 50px;
  /* Adjust the width as needed */
}

/* Style for the buttons section */

.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  text-decoration: none;
  color: white;
  padding: 3px 10px;
  margin: 1rem 0;
  font-size: 20px;
  background-color: #b76e79;
  border: 2px solid #b76e79;
  border-radius: 3px;
  text-align: center;
  transition: 0.5s;
  font-family: "Fredoka", sans-serif;

}

.button:hover {
  background-color: #834b54;
  border-color: #834b54;
}

.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}

/* For mobile devices */
@media (max-width: 767px) {
  .online-store {
    margin: 20px; /* Adjust margins for mobile */
  }

  .cake-item {
    margin: 10px; /* Adjust margins for mobile */
  }

  .image {
    width: 100%; /* Adjust image width for mobile */
    height: auto; /* Maintain aspect ratio */
  }

  .buttons-section {
    flex-direction: column; /* Stack buttons vertically for mobile */
    align-items: flex-start; /* Align buttons to the left for mobile */
  }
}

/* For tablets (portrait) */
@media (min-width: 768px) and (max-width: 991px) {
  .online-store {
    margin: 20px; /* Adjust margins for tablets */
  }

  .cake-item {
    margin: 20px; /* Adjust margins for tablets */
  }
}

/* For tablets (landscape) */
@media (min-width: 992px) and (max-width: 1200px) {
  .online-store {
    margin: 60px; /* Adjust margins for tablets in landscape orientation */
  }

  .cake-item {
    margin: 60px; /* Adjust margins for tablets in landscape orientation */
  }
}
