.cakes-list {
    
    margin: 50px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
  }
.cake-item {
    width: calc(20%); 
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
    display: flex; /* Use flexbox to center items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center-align text */
    margin: 10px;
    margin-bottom: 20px;
  }
.image {
    width: 300px;
    height: 350px;
    /*Must ensure that all uploaded image is in square shape*/
  }

  /* Style for the quantity section */
.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.quantity-section label {
  margin-right: 10px; /* Adjust as needed */
}

.quantity-section input {
  width: 50px; /* Adjust the width as needed */
}

/* Style for the buttons section */
.buttons-section {
  display: flex;
}

.buttons-section button {
  margin-right: 10px; /* Adjust the spacing between buttons */
}