.gallery-grid-item-wrapper {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: right;
}

.gallery-grid-item-wrapper h4 {
  margin-right: 2.5rem;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #daa41a;
}

.gallery-grid-item-wrapper .gallery-lines-group {
  width: 176px;
}

.gallery-grid-item-wrapper .gallery-lines-group img.gold-line {
  position: relative;
  left: -1.5rem;
}

.gallery-grid-item-wrapper a {
  max-width: 40%;
}

.gallery-grid-item-wrapper a img.gallery-img {
  width: 100%;
}

.gallery-grid-item-wrapper.row-reverse {
  flex-direction: row-reverse;
  justify-content: left;
}

.gallery-grid-item-wrapper.row-reverse .gallery-lines-group {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.gallery-grid-item-wrapper.row-reverse h4 {
  margin-right: 0;
  margin-left: 2.5rem;
}
