.profile-white-background {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

.profile-header {
    color: #B76E79;
    margin-bottom: 40px;
    margin-left: 30px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.profile-welcome {
    font-weight: bold;
    font-family: Yantramanav;
}

.profile-info {
    font-family: Yantramanav;
    margin-top: 20px;
}

.profile-right {
    display: flex;
    flex-direction: column;
}

.profile-title {
    font-family: Yantramanav;
    font-size: larger;
    margin-top: 20px;
}

.first-title {
    margin-top: 0;
}

.profile-input {
    width: 100%;
}

.label-edit {
    display: flex;
    flex-direction: row;
}

.profile-edit-btn,
.profile-change-btn {
    border: none;
    background-color: white;
    color: #008EE2;
    text-align: left;
    padding: 0;
}

.profile-edit-btn {
    padding-left: 20px;
}

.update-profile {
    background-color: #B76E79;
    font-family: Yantramanav;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.messages-profile {
    text-align: center;
    margin-bottom: 130px;
}

.error-profile {
    background-color: lightcoral;
    color: white;
    font-family: inter;
}

.success-profile {
    background-color: rgb(190, 255, 190);
    color: black;
    font-family: inter;
}

.msgs-profile {
    padding: 10px;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .profile-white-background {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-left {
        margin-right: 0;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .profile-right {
        margin-bottom: 20px;
    }

    .profile-info {
        text-align: center;
    }
}