
.loginPage {
    height: fit-content;
    background-color: white;
}

.login-image {
}

.login-form {
    width: 100%;
}

.logo-div {
}

.logo {
  width: 20%;
  object-fit: contain;
  display: block;
  width: 50px;
  height: auto;
  min-width: 150px;
  object-fit: contain;
}

.login-header {
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: inter;
    font-weight: 600;
    font-size: xx-large;
}
    
.input-login {
    display: flex;
    flex-direction: row;

    background: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

.input-login::placeholder {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    transform: translateY(10px);
}
    
.submit-btn {
    margin-top: 50px;
    padding: 5px 32px;

    border: 0px solid white;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ede5e3 0%, #efc7c7 70%);
    background-color:  #efc7c7;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.submit-btn:hover {
    background-position: left bottom;
    color: #daa41a;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.signup-question {
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inter;
    font-size: small;
}

.signup-link {
    color: black;
    font-weight: bold;
}

.messages {
    text-align: center;
    background-color: lightcoral;
    color: white;
    margin-bottom: 130px;
}

.msgs {
    padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .loginPage {
        margin: 40px;
    }

    .login-image {
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    
    .login-form {
        flex-direction: row;
        width: 100%;
        height: 60%;
    }

    .submit-btn {
        width: 100%;
    }

    .input-login {
        width: 100%;
    }
}

/* Larger screens */
@media only screen and (min-width: 600px) {
    
    .loginPage {
        margin: 40px;
    }

    .login-image {
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    
    .login-form {
        flex-direction: row;
        width: 100%;
        height: 60%;
    }

    .submit-btn {
        width: 100%;
    }

    .input-login {
        width: 100%;
    }

    .submit-btn {
        width: 500px;
    }

    .input-login {
        width: 500px;
    }

    .messages {
        width: 500px;
    }
}

@media only screen and (min-width: 769px) {
    
    .login-form {
        margin-left: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    
    .loginPage {
        margin: 0px;
    }
    
    .login-form {
        margin: 0px;
    }
    
    .login-image {
        float: left;
        width: 40%;
        max-width: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .login-form {
        padding: 100px;
        float: right;
        width: 60%;
        height: 100%;
    }
}

@media only screen and (min-width: 1700px) {
    
    .login-image {
        max-width: none;
    }
}
