.about-us-section {
  background-image: url("../../../utils/cover/about-us-portrait-bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  min-height: 511px;
  aspect-ratio: 1280 / 511;

  margin: 0;

  display: block;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.about-us-section .about-us-portrait {
  display: block;
  width: 40%;
  height: auto;
  min-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.about-us-section .about-us-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-us-section .about-us-text > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-us-section .about-us-text h2 {
  font-size: 64px;
  font-family: "Dancing Script", cursive;
}

.about-us-section .about-us-text p {
  font-size: 18px;
  width: 70%;
  text-align: center;
}

.about-us-section .about-us-portrait {
  display: none;
}

@media (max-width: 1200px) {
  .about-us-section {
    background-image: url("../../../utils/cover/about-us-portrait-bg.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: right;

    color: #fff;
    width: 100%;
    height: 100%;

    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;

    display: block;
    justify-content: left;
    align-items: left;
  }

  .about-us-text h2 {
    font-size: 50px;
    font-family: "Dancing Script", cursive;
  }

  .about-us-text p {
    font-size: 16px;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .about-us-section {
    background-image: none;
    padding: 0;
  }

  .about-us-section .about-us-portrait {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-us-text {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    justify-content: center;
    align-items: center;
  }

  .about-us-text h2 {
    text-align: center;
    font-size: 50px;
    color: #daa41a;
  }

  .about-us-text p {
    font-size: 18px;
    width: 100%;
    color: black;
  }
}
