.profile-name {
  margin-left: 1rem;
  color: #daa41a;
  text-decoration: none;
}

.profile-name:hover {
  color: #efc7c7;
  text-decoration: underline;
}

@media (max-width: 1000px) and (min-width: 880px) {
  .social-media-wrapper .profile-name {
    font-size: 14px;
    margin-left: 0.2rem;
  }
}

@media (max-width: 880px) {
  .social-media-wrapper {
    width: fit-content;
  }

  .profile-name {
    display: none;
  }
}
