.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
}

.social-media-wrapper .profile-name {
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

.social-media-wrapper .profile-name:hover {
  color: #b76e79;
}

@media (max-width: 480px) {
  .social-media-wrapper .profile-name {
    display: none;
  }
}