.profile-name {
  margin-left: 1rem;
  color: #000000;
  text-decoration: none;
}

.profile-name:hover {
  color: #daa41a;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .social-media-wrapper {
    width: fit-content;
  }

  .profile-name {
    display: none;
  }
}
