.header {
  /* keeps header at the top */
  position: sticky;
  top: 0;
  z-index: 99;

  background-color: transparent;
}

.header.colored {
  background-color: #fce1dd;
}

.navbar-signup-login-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: white;
}

@media (max-width: 1009px) {
  .header .navbar-signup-login-group {
    flex-direction: column;
  }
}
