div .header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 3px solid #efc7c7;
  border-bottom: 3px solid #efc7c7;
  width: 100%;

  /* keeps header at the top */
  position: sticky;
  top: 0;
  z-index: 99;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: white;
}

@media (max-width: 480px) {
  div .header {
    flex-direction: column;
  }
}
